/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";

.nav-bar {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
  }

.header{
    position: relative;
    padding: 1rem;
    background-color: gray;
    color: white;
}

.paddingleft{
  padding: 2em;
}
.contentWrap {
    padding: 2em;
    border: 2px solid black;
  }
.content {
    width: 650px;
    margin: 0 auto;
    min-height: 1250px;
    line-height: 1.5em;
  }
.leave-space {
    padding: 2em;
    border-bottom: 2px solid black;
}

.boxy{
  border: 2px solid black;
}

.pagination{
  span{
    padding-right: 10px;
  }
}

.white{
  color: white;
}

.white:hover{
  color: white;
}
.scroll{
  height:550px;
  overflow-y: scroll;
}

img {
  width:100%;
  height: 530px;
}

header a, header a:hover{
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-decoration: none;
}

.image-box {
  position: relative;
  display: inline-block;
  width: 200px;
  height: 200px;
}


.image-box .imagesize{
  border-radius: 55px;
  width: 200px;
  height: 200px;
  padding: 10px;
}

.text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 0;
}

.image-box:hover  .imagesize{
  opacity: 0.3;
}

.image-box:hover .text {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.separate{
  padding-left: 70px;
}

.form-upload{
  border: 1px solid #dbdbdb;
  height: auto;
  margin: auto 160px;
  padding: 30px;
  border-radius: 3px;

  input[type='text']{
    width: 100%;
  }
}

.contentUpload {
  padding: 2em;
  width: 450px;
  margin: 0 auto;
  min-height: 250px;
  line-height: 1.5em;
}

.scroll-image{
  height:600px;
  overflow-y: scroll;
}

.grey-box{
  background-color: grey;
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 55px;
}

#error_explanation{
  font-size: 10px;
  color: #D8000C;
  background-color: #FFBABA;
  padding: 10px;
}

#error_explanation h2,ul,li{
  padding-right: 20px;
}

.light-grey-text{

  font-size: 15px;
  color: lightslategrey;

}

.bolder{
  font-weight: bolder;
  font-size: 50px;
}


// @media (max-width: 500px) {
//   .header{
//     padding: 100%;
//     display: flex;
//     justify-content: flex-start;
//   }
//   .nav-bar{
//     padding: 100%;
//     display: flex;
//     justify-content: flex-start;
//   }

// }