/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";

.nav-bar {
    padding: 0.5rem 1rem;
    background-color: black;
    color: white;
  }

.header{
    position: relative;
    padding: 1rem;
    background-color: gray;
    color: white;
}
.contentWrap {
    padding: 2em;
    background-color: #ededed;
  }
.content {
    width: 650px;
    margin: 0 auto;
    min-height: 1250px;
    line-height: 1.5em;
  }
.leave-space {
    padding: 2em;
    border-bottom: 2px solid black;
}

.boxy{
  border: 2px solid black;
}

.pagination{
  span{
    padding-right: 10px;
  }
}

.white{
  color: white;
}

.white:hover{
  color: white;
}
.scroll{
  height:550px;
  overflow-y: scroll;
}

img {
  width:100%;
  height: 530px;
}

header a, header a:hover{
  color: white;
  font-size: 50px;
  font-weight: bolder;
  text-decoration: none;
}

.imagesize{
  border-radius: 55px;
  width: 200px;
  height: 200px;
  padding: 10px;
}
.separate{
  padding-left: 70px;
}

.form-upload{
  border: 1px solid #dbdbdb;
  height: auto;
  margin: auto 160px;
  padding: 30px;
  border-radius: 3px;

  input[type='text']{
    width: 100%;
  }
}

.contentUpload {
  padding: 2em;
  width: 450px;
  margin: 0 auto;
  min-height: 250px;
  line-height: 1.5em;
}
// @media (max-width: 500px) {
//   .header{
//     padding: 100%;
//     display: flex;
//     justify-content: flex-start;
//   }
//   .nav-bar{
//     padding: 100%;
//     display: flex;
//     justify-content: flex-start;
//   }

// }