<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-11'>
            <% @resturants.each do |resturant| %>
                <p class="bolder"><%= resturant.name %>
                <span class="light-grey-text"> <%= resturant.reviews.count %> reviews </span>
                </p>
                <p><%= link_to 'Show', resturant %></p>
                <hr>
                <br>
            <% end %>
            <%= paginate @resturants %>
            <br><br><br>
        </div>
    </div>
</div>



