<div class='container-fluid'>
    <div class='row'>
        <div class='col-lg-11'>
            <% @resturants.each do |resturant| %>
            <h2>
                <%= resturant.name %></h2>
                <br>
                <p><%= link_to 'Show', resturant %>
                <hr>
            </p>
            <br>
            <% end %>
            <%= paginate @resturants %>
            <br><br><br>
        </div>
    </div>
</div>



